body, html {
    height: 100%;
}

body {
    background: linear-gradient(100deg, rgba(25,25,25,1) 0%, rgba(175,0,0,1) 100%)  rgb(25,25,25);
    color: white;
}

.orundum-counter {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 2.125rem;
    font-weight: 600;
}

.orundum-counter__label {
    display: block;
}

.orundum-counter__input {
    width: 100px;
    border-radius: 5px;
}

.result {
    font-size: 1.5rem;
    font-weight: lighter;
}

button {
    width: 100px;
    font-size: 1rem;
    font-weight: 400;
}